<form method="POST" action="{% url 'create_post' %}">
  {% csrf_token %}
  {{ form.as_p}}
  {% comment %} <label for="title">Заголовок:</label>
  <input type="text" id="title" name="title" required>
  <br>
  <label for="content">Содержание:</label>
  <textarea id="content" name="content" required></textarea>
  <br>
  <label for="author">Автор:</label>
  <select id="author" name="author" required>
    {% for user in users %}
      <option value="{{ user.id }}">{{ user.username }}</option>
    {% endfor %}
  </select>
  <br> {% endcomment %}
  <button type="submit">Сохранить</button>
</form>
